.form-search {
  font-size: 14px;
  margin: 20px 20px 0 20px;
  width: 20%;
}

.container-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button{
  margin: 0 20px 0 20px ;
}

.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}

.mat-elevation-z8{
  margin: 0px 20px 0 20px;
}
